<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST Quiz</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="app">
        <header class="header">
            <h1 class="header__logo"><a href="index.html"><span>JUST</span> Quiz</a></h1>
        </header>
        <div class="app-container app-main">
            <h2 class="app-container__headline">Jesteś gotowy?</h2>
            <p class="app-container__paragraph">Wpisz swoje imię i rozpocznij zabawe!</p>
            <input type="text" required class="app-container__input">
            <p class="app-container__paragraph">Zdobądź jak najwięcej punktów</p>
            <p class="app-container__paragraph"><span>Powodzenia!</span></p>

            <div class="app-container__buttons">
                <button class="btn btn--start">Zacznij grę <i class="fas fa-play-circle"></i></button>
                <button class="btn btn--scores">Najlepsze wyniki <i class="fas fa-medal"></i></button>
            </div>
        </div>
    </div>

</body>

</html>